<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>监控平台</title>

    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/echarts.common.min.js"></script>
    <script src="js/chart.js"></script>

    <style>
        .chart {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-line-chart fa-1x fa-fw"></i>监控平台1111</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-4">

        <div class="dropdown">
            <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
            <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                <li class="dropdown">
                    <a id="dLabel1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a id="dLabel2" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Another action
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a id="dLabel3" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Something else
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel3">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>


        </div>






        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-server fa-fw"></i> Tomcat 线程数
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="tomcat_chart" class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-users fa-fw"></i> Session 线程数
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="session_chart" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-database fa-fw"></i> Mysql 线程数
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="mysql_chart" class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

</div>
<script type="text/javascript" th:inline="javascript">



</script>
</body>
</html>